
.day-container {
    display: flex;
    flex-direction: column;

    .item-list-container {
        flex: 1;

        .controls {
            display: flex;
            flex-direction: row;
        }
    }

    .program-container {
        width: 200px;
    }

    .playlist-container {
        display: flex;
        flex-direction: row;
        padding: 1rem;

        @media screen and (max-width: 1000px){
            flex-direction: column;
        }

        .item-window-options {
            display: flex;
            flex-direction: column;
            align-items: center;

            .label-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 0.5rem;

                .fa {
                    margin-right: 0.5rem;
                    color: #ff523a;
                }

                .label {
                    font-size: 0.7rem;
                }
            }

            .window-buttons-container {
                display: flex;
                flex-direction: row;

                .sync-button {
                    cursor: pointer;
                    margin-right: 1rem;
                }

                .remove-button {
                    cursor: pointer;
                }
            }
        }

        .history-list {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border: 1px solid lightgrey;

            .small-item {
                display: flex;
                flex-direction: row;
                cursor: pointer;

                &:hover {
                    background: lightgrey;
                }

                &.selected {
                    background: lightgrey;
                }

                .thumbnail {

                }

                .details {
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-weight: bold;
                    }

                    .description {

                    }
                }
            }
        }
    }
}

.main-title {
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: #343A3E;
}

.overall-volume {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.show-program {
    position: absolute;
    right: 20px;
    bottom: 10px;
}
