<div class="day-container">

    <div *ngIf="!dayHasFiles()" class="playlist-container">
        Please edit this day by clicking the icon <i class="fa fa-pencil-square-o"></i> in the top right corner.
    </div>

    <div *ngIf="dayHasFiles()" class="playlist-container">

        <md-card *ngIf="itemPlaying">
            <md-card-header>
                <!--<div md-card-avatar class="example-header-image"></div>-->
                <md-card-title><b> {{ itemPlaying.name }} </b></md-card-title>
                <md-card-subtitle> {{ itemPlaying.description }}</md-card-subtitle>
            </md-card-header>

            <md-card-content class="playing-content">
                <div *ngIf="itemPlaying.type === FILE_TYPE.VIDEO">
                    <plurch-video-item [file]="itemPlaying"
                                       [newFileAddedToWindow]="newFileAddedToWindow"
                                       [muteVideo]="muteVideo"
                                       [syncVideo]="syncVideo">
                    </plurch-video-item>
                </div>

                <div *ngIf="itemPlaying.type === FILE_TYPE.DEFAULT">
                    <img [src]="itemPlaying.sanitizedPath" width="50px" height="50px">
                </div>
            </md-card-content>
            <md-card-actions>
                <div *ngIf="fileIsPlayingOnWindow(itemPlaying)" class="item-window-options">
                    <div class="label-container">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                        <div class="label">Live on Window</div>
                    </div>
                    <div class="window-buttons-container">
                        <div *ngIf="itemPlaying.type === FILE_TYPE.VIDEO" (click)="syncWithWindow(itemPlaying)"
                             class="sync-button">
                            Sync
                        </div>
                        <div *ngIf="!itemPlaying.isRemovingFromWindow" class="remove-button"
                             (click)="removeFromWindow(itemPlaying)">Remove
                        </div>
                        <span *ngIf="itemPlaying.isRemovingFromWindow"><i class="fa fa-refresh fa-spin fa-fw"></i> Removing...</span>
                    </div>
                </div>
                <button *ngIf="!fileIsPlayingOnWindow(itemPlaying)" (click)="addToWindow(itemPlaying)" md-button>
                    <span *ngIf="!itemPlaying.isSendingToWindow">Send To Window</span>
                    <span *ngIf="itemPlaying.isSendingToWindow"><i
                        class="fa fa-refresh fa-spin fa-fw"></i> Sending...</span>
                </button>
            </md-card-actions>

            <button (click)="openFile(itemPlaying.path)" md-button class="open-source-button">Open Source</button>
        </md-card>

        <md-card class="history-list">
            <md-card-content>
                <div *ngFor="let file of files; let i = index"
                     class="small-item"
                     [id]="'historyItem-' + file.id"
                     [class.selected]="file.id === itemPlaying.id"
                     (click)="selectItem(file)">
                    <div class="thumbnail">
                        <img [src]="file.thumbnailPath" width="100px">
                    </div>
                    <div class="details">
                        <div class="name">{{i+1}} - {{ file.name }}</div>
                        <div class="description">{{ file.description }}</div>
                    </div>
                    <div *ngIf="fileIsPlayingOnWindow(file)" class="playing-icon">
                        <i class="fa fa-rss"></i>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>

<button md-mini-fab (click)="openDialog()" class="show-program">
    <i class="fa fa-list" aria-hidden="true"></i>
</button>
