<div class="main-title">
    <div>{{ selectedDayName }}</div>
</div>

<div class="pWindows-container">
    <div class="title">Windows</div>

    <div class="pWindows-list">
        <div *ngFor="let pWindow of pWindows | async; let i = index" class="pWindow-item">
            <div class="pWindow-thumbnail">
                <div class="pWindow-number">{{i+1}}</div>
            </div>
            <div class="buttons">
                <button (click)="sendCommandToWindow(pWindow, WINDOW_COMMAND_TYPE.FULL_SCREEN)"> FullScreen</button>
                <button (click)="sendCommandToWindow(pWindow, WINDOW_COMMAND_TYPE.STOP_FULL_SCREEN)">Exit FullScreen</button>
                <button (click)="sendCommandToWindow(pWindow, WINDOW_COMMAND_TYPE.CLOSE)">Close</button>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button (click)="openNewScreen()">Add New Window</button>
        <button (click)="closeAllWindows()">Close All Windows</button>
    </div>

</div>

<div class="file-list-container">

    <div class="pick">
        <div class="title">File List</div>
    </div>

    <md-card *ngFor="let file of files; let i = index" class="link">
        <md-card-header>
            <!--<div md-card-avatar class="example-header-image"></div>-->
            <md-card-title><b> {{i+1}} - {{ file.name }} </b></md-card-title>
            <md-card-subtitle> {{ file.path }} </md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <div *ngIf="file.type === FILE_TYPE.VIDEO">
                <plurch-video-item [file]="file" [newFileAddedToWindow]="newFileAddedToWindow" [syncVideo]="syncVideo"></plurch-video-item>
            </div>

            <div *ngIf="file.type === FILE_TYPE.DEFAULT">
                <img [src]="file.thumbnailPath" width="50px" height="50px">
            </div>
        </md-card-content>
        <md-card-actions>
            <div *ngFor="let pWindow of pWindows | async; let i = index">
                <div *ngIf="fileIsPlayingOnWindow(file, pWindow)" class="item-window-options">
                    <div class="label-container">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                        <div class="label">Live on Window {{ i+1 }}</div>
                    </div>
                    <div *ngIf="file.type === FILE_TYPE.VIDEO" (click)="syncWithWindow(file, pWindow)">
                        Sync
                    </div>
                </div>
                <button *ngIf="!fileIsPlayingOnWindow(file, pWindow)" (click)="addToWindow(file, pWindow)" md-button>
                    Send To Window: {{i+1}}
                </button>
            </div>
            <button (click)="openFile(file.path)" md-button>Open Source</button>
        </md-card-actions>
    </md-card>
</div>
