<div class="main-title">
    <div>List for day: {{ selectedDayName }}</div>
</div>

<div class="pWindows-container">
    <div class="title">Windows</div>

    <div class="pWindows-list">
        <div *ngFor="let pWindow of pWindowIds; let i = index" class="pWindow-item">
            <div class="pWindow-thumbnail">
                <div class="pWindow-number">{{i+1}}</div>
            </div>
            <div class="buttons">
                <button (click)="sendCommandToWindow(pWindow, WINDOW_COMMAND_TYPE.FULL_SCREEN)"> FullScreen</button>
                <button (click)="sendCommandToWindow(pWindow, WINDOW_COMMAND_TYPE.STOP_FULL_SCREEN)">Exit FullScreen</button>
                <button (click)="sendCommandToWindow(pWindow, WINDOW_COMMAND_TYPE.CLOSE)">Close</button>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button (click)="openNewScreen()">Add New Window</button>
        <button (click)="closeAllWindows()">Close All Windows</button>
    </div>

</div>

<div class="file-list-container">

    <div class="pick">
        <div class="title">File List</div>
        <button (click)="openChooseItemDialog()">Add files</button>
    </div>

    <div *ngFor="let file of files" class="link">

        <div class="item">
            <div class="details">
                <div><b>Name:</b> {{file.getName()}}</div>
                <div><b>Path:</b> {{file.path}}</div>
            </div>

            <div *ngIf="file.type === FILE_TYPE.VIDEO">
                <plurch-video-item [file]="file" [newFileAddedToWindow]="newFileAddedToWindow" ></plurch-video-item>
            </div>

            <div *ngIf="file.type === FILE_TYPE.DEFAULT">
                <img [src]="file.thumbnailPath" width="50px" height="50px">
            </div>
        </div>

        <div class="item-default-controls">
            <button (click)="deleteFile(file.path)">DELETE</button>
            <button (click)="openFile(file.path)">Open Source</button>
            <div>
                <button *ngFor="let windowId of pWindowIds; let i = index" (click)="addToWindow(file, windowId)">
                    Send To Window: {{i+1}}
                </button>
            </div>
        </div>
    </div>
</div>
