<div class="day-content">
    <div class="controls">
        <div class="main-title">
            <div>{{ selectedDayName }}</div>
        </div>

        <div class="day-options">
            <div *ngIf="loudnessAvailable" class="overall-volume">
                <i class="fa fa-bell" title="Overall Volume"></i>
                <mat-slider
                    [step]="1"
                    (input)="volumeChanged($event)"
                    [thumbLabel]="true"
                    [value]="volumeBarValue">
                </mat-slider>
            </div>

            <button *ngIf="!isEditMode" mat-icon-button title="Edit Mode" (click)="toggleEdit()" routerLink="edit">
                <i class="fa fa-pencil-square-o"></i>
            </button>
            <button *ngIf="isEditMode" mat-icon-button title="View Mode" (click)="toggleEdit()" routerLink="view">
                <i class="fa fa-list"></i>
            </button>
            <button *ngIf="!isItemAlreadyAddedToMenu" mat-icon-button title="Add To Menu" (click)="addToMenu()">
                <i class="fa fa-plus"></i>
            </button>
            <button *ngIf="isItemAlreadyAddedToMenu" mat-icon-button title="Remove From Menu" (click)="removeFromMenu()">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>
