
.link {
    //cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-bottom: 1px solid lightgray;

    .item {
        .details {
            display: flex;
            flex-direction: column;
        }
    }

    .item-default-controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.pWindows-container {
    border-top: 1px solid lightgray;

    .pWindow-thumbnail {

    }
}

.file-list-container {
    border-top: 1px solid lightgray;
}
