
.main-title {
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    color: #343A3E;
    text-transform: capitalize;
}

.pick-list {
    margin: 1rem 0;

    .title {

    }
}

.current-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .edit-item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 20rem;
        margin: 1rem;
    }

    md-card-actions {
        text-align: right;
    }
}

.red-button {
    color: #ff523a;
}
