
.main-title {
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    color: #343A3E;
    text-transform: capitalize;
}

.add-local-files {
    width: 100%;
    margin: 1rem;
}

.pick-list {
    margin: 0 1rem;

    .title {
        font-weight: bold;
        margin-bottom: 1rem;
    }
}

.current-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .edit-item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 20rem;
        margin: 1rem;
    }

    .drag-button {
        cursor: move;
    }

    md-card-actions {
        text-align: right;
    }
}

.red-button {
    color: #ff523a;
}
