:host {
    display: flex;
    flex-direction: column;
}

.edit-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;

    .available-list {
        flex: 0.5;
        overflow: auto;
    }

    .current-list {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        border: 1px solid lightgrey;
        overflow: auto;
        flex: 0.5;
        padding: 1rem 0 0 0;

        .small-item {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            //margin: 0.2rem 0;
            padding: 0.5rem;
            min-height: 5rem;

            .thumbnail {
                margin-right: 0.5rem;
            }

            .details {
                display: flex;
                flex-direction: column;

                .name {
                    font-weight: bold;
                    font-size: 0.9rem;
                    margin-bottom: 0.5rem;
                }

                .description {
                    font-size: 0.8rem;
                    overflow: hidden;
                }
            }

            .buttons-container {
                width: 3rem;
                display: flex;
                flex-shrink: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.red-button {
    color: #ff523a;
}
