<div class="main-title">
    Edit: {{ selectedDayName }}
</div>

<button (click)="openChooseItemDialog()">Add Local Files</button>

<div class="pick-list">
    <div class="title">Choose from downloaded Videos</div>
    <div *ngFor="let video of availableVideos">
        {{ video.title }}
        <button (click)="addVideoToDay(video)">Add</button>
    </div>
</div>

<div class="current-list">

    <md-card *ngFor="let item of playableItems; let i = index" class="edit-item">
        <md-card-header>
            <!--<div md-card-avatar class="example-header-image"></div>-->
            <md-card-title><b> {{i+1}} - {{ item.name }} </b></md-card-title>
            <md-card-subtitle> {{ item.path }} </md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <div *ngIf="item.type === PLAYABLE_FILE_TYPE.VIDEO">
                <video width="100%" [src]="item.sanitizedPath" controls></video>
            </div>

            <div *ngIf="item.type === PLAYABLE_FILE_TYPE.DEFAULT">
                <img [src]="item.thumbnailPath" width="50px" height="50px">
            </div>
        </md-card-content>
        <md-card-actions>
            <button (click)="openFile(item.path)" md-button>Open Source</button>
            <button (click)="deleteFile(item.path)" md-button class="red-button">Delete</button>
        </md-card-actions>
    </md-card>

</div>
