<div class="main-title">
    Edit: {{ selectedDayName }}
</div>

<button (click)="openChooseItemDialog()">Add Local Files</button>

<div class="pick-list">
    <div class="title">Choose from downloaded Videos</div>
    <div *ngFor="let video of availableVideos">
        {{ video.title }}
        <button (click)="addVideoToDay(video)">Add</button>
    </div>
</div>

<div class="current-list">
    <div *ngFor="let item of playableItems" class="list-item">
        <div *ngIf="item.type === PLAYABLE_FILE_TYPE.VIDEO">
            <video height="120" [src]="sanitizeUrl(item.path)" controls></video>
        </div>

        <div *ngIf="item.type === PLAYABLE_FILE_TYPE.DEFAULT">
            <img [src]="sanitizeUrl(item.thumbnailPath)" width="50px" height="50px">
        </div>

        <div class="details">{{ item.getName() }}</div>

        <div>
            <button (click)="openFile(item.path)" md-button>Open Source</button>
            <button (click)="deleteFile(item.path)" md-button class="red-button">Delete</button>
        </div>
    </div>
</div>
