<form class="new-day-form">
    <table cellspacing="0">
        <tr>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Name" [(ngModel)]="newDay.name" name="day-name">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Description" [(ngModel)]="newDay.description" name="day-description">
                </mat-form-field>
            </td>
            <td>
                <button mat-raised-button (click)="addDay(newDay.name, newDay.description)" class="add-button">Add</button>
            </td>
        </tr>
    </table>
</form>

<div class="list-container">
    <div *ngFor="let day of dayList" class="day-item">
        <div>{{ day.name }}</div>
        <div>
            <button mat-raised-button [routerLink]="['/manager/day-schedule', encodeURIComponent(day.name) ]">GO</button>
            <button mat-raised-button (click)="deleteDay(day.name)">Delete</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
