<div class="download-list-container" *ngIf="dlVideosExists | async">

    <div *ngFor="let videoWithStream of dlVideos$ | async" class="downloading-video-item">
        <div class="title">{{ videoWithStream.video.title }}</div>

        <div *ngIf="!videoWithStream.video.percentage" style="margin-left: 1rem;">
            Download starting...
        </div>
        <div *ngIf="videoWithStream.video.percentage" class="percentage">
            <div style="flex-shrink: 0;">{{ videoWithStream.video.percentage }} %</div>
            <mat-progress-bar [value]="videoWithStream.video.percentage" mode="determinate"></mat-progress-bar>
        </div>
        <button md-icon-button (click)="stopDownload(videoWithStream)" title="Stop download"><i class="fa fa-close"></i></button>
    </div>
</div>
