
.link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.item {
    display: flex;
    flex-direction: row;

    .details {
        display: flex;
        flex-direction: column;
    }
}
