<router-outlet></router-outlet>

<div>
    <h1>{{title}}</h1>

    <button [routerLink]="['/fs']"></button>

    <button (click)="openChooseItemDialog()">Choose file</button>

    <button (click)="newW()">New Window</button>

    <div>
        <h1>Files</h1>
        <div *ngFor="let file of files" (click)="openFile(file.path)" class="link">
            <div *ngIf="file.type === 'video'">
                <video width="320" height="240" controls [src]="file.path"></video>
            </div>
            <div *ngIf="file.type !== 'video'">
                <img [src]="file.previewPath" width="150px">
                {{file.path}}
            </div>
            <button (click)="deleteFile(file.path)">DELETE</button>
        </div>
    </div>
</div>
