
<h2> Connected Displayss </h2>
<div class="displays-container">
    <div *ngFor="let display of displays" class="display-item">
        <div class="icon"></div>
        <div class="label">
            <div>ID: {{ display.electronDisplay.id }}</div>
            <div>({{ display.external ? 'external' : 'default' }})</div>
            <div>({{ display.electronDisplay.size.width }} x {{ display.electronDisplay.size.height }})</div>
            <!--<div>({{ display.electronDisplay.bounds.x }} x {{ display.electronDisplay.bounds.y }})</div>-->
        </div>
    </div>
</div>
