<div class="videos-folder">
    <button md-button (click)="openChooseItemDialog()">Click here to choose Videos Folder</button>
    <div>{{ chosenFolder }}</div>
    <div *ngIf="!chosenFolder"><b>Please choose a folder before searching for videos!</b></div>
</div>

<div [class.hidden]="!chosenFolder">
    <div class="search-bar">
        <b>Search:</b>
        <div class="input-container">
            <input [formControl]="searchInputControl"
                   (keyup.enter)="searchVideos()"
                   (blur)="hideAutoSuggestList()">
            <div *ngIf="autoSuggestVisible" class="auto-suggest-list">
                <div *ngFor="let suggestion of youtubeAutoSuggest$ | async"
                     (click)="pickSuggestion(suggestion)"
                     class="auto-suggest-item">
                    {{ suggestion.name }}
                </div>
            </div>
        </div>
        <button md-raised-button (click)="searchVideos()"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
</div>

<div class="youtube-videos-container">
    <md-card *ngFor="let video of searchResults" class="youtube-video-card">
        <md-card-header>
            <md-card-title><b>{{ video.title }}</b></md-card-title>
            <md-card-subtitle>{{ video.description }}</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <img *ngIf="!video.link" [src]="video.thumbnailUrl">

            <iframe [src]="video.embeddedLink" height="180"></iframe>

            <div class="duration">
                <b>Duration:</b> {{ (video.duration | async)?.duration }}
            </div>
        </md-card-content>

        <md-card-actions>
            <button *ngIf="!video.isDownloaded && ! video.downloading" (click)="downloadVideo(video)" md-button>
                Download
            </button>
            <md-progress-bar *ngIf="!video.isDownloaded && video.downloading" [value]="video.percentage"
                             mode="determinate"></md-progress-bar>
            <div *ngIf="video.isDownloaded" class="downloaded-label">Already Downloaded</div>
        </md-card-actions>
    </md-card>
</div>
