<pl-search-youtube-input (resultsEmitter)="getSearchResults($event)"></pl-search-youtube-input>

<div class="youtube-videos-container">
    <md-card *ngFor="let video of searchResults" class="youtube-video-card">
        <md-card-header>
            <md-card-title><b>{{ video.title }}</b></md-card-title>
            <md-card-subtitle>{{ video.description }}</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <img *ngIf="!video.link" [src]="video.thumbnailUrl">

            <iframe [src]="video.embeddedLink" height="180"></iframe>

            <div class="duration">
                <b>Duration:</b> {{ (video.duration$ | async)?.duration }}
            </div>
        </md-card-content>

        <md-card-actions>
            <button *ngIf="!video.isDownloaded && !isDownloading(video)" (click)="downloadVideo(video)" md-button>
                Download
            </button>
            <md-progress-bar *ngIf="isDownloading(video)" [value]="video.percentage"
                             mode="determinate"></md-progress-bar>
            <div *ngIf="video.isDownloaded" class="downloaded-label">Already Downloaded</div>
        </md-card-actions>
    </md-card>
</div>
