<pl-search-youtube-input (resultsEmitter)="getSearchResults($event)"></pl-search-youtube-input>

<div class="youtube-videos-container">
    <mat-card *ngFor="let video of searchResults" class="youtube-video-card">
        <mat-card-header>
            <mat-card-title><b>{{ video.title }}</b></mat-card-title>
            <mat-card-subtitle>{{ video.description }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <img *ngIf="!video.link" [src]="video.thumbnailUrl">

            <iframe [src]="video.embeddedLink" height="180"></iframe>

            <div class="duration">
                <b>Duration:</b> {{ (video.duration$ | async)?.duration }}
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button *ngIf="!video.isDownloaded && !(isDownloading(video) | async)" (click)="downloadVideo(video)" mat-button>
                Download
            </button>
            <mat-progress-bar *ngIf="isDownloading(video) | async" [value]="video.percentage"
                             mode="determinate"></mat-progress-bar>
            <div *ngIf="video.isDownloaded" class="downloaded-label">Already Downloaded</div>
        </mat-card-actions>
    </mat-card>
</div>
