
.videos-folder {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-items: center;

    div {
        font-size: 0.8rem;
    }
}

.hidden {
    visibility: hidden;
}

.search-bar {
    padding: 1rem 2rem;
}

.youtube-videos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;

    .youtube-video-card {
        width: 20rem;
        margin: 0.5rem;

        md-card-header {
            margin-bottom: 1rem;
            overflow: hidden;
        }

        iframe {
            border: 0;
        }

        .downloaded-label {
            display: flex;
            justify-content: center;
        }

        .duration {
            margin-top: 1rem;
        }
    }
}

