<div class="side-bar">
    <div class="logo">IASD</div>

    <div [routerLink]="['gallery']" routerLinkActive="active-link" class="side-nav-item">
        <div class="icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
        <div>Gallery</div>
    </div>

    <div [routerLink]="['search']" routerLinkActive="active-link" class="side-nav-item">
        <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
        <div>Search</div>
    </div>

    <div [routerLink]="['displays']" routerLinkActive="active-link" class="side-nav-item">
        <div class="icon"><i class="fa fa-tv" aria-hidden="true"></i></div>
        <div>Displays</div>
    </div>

    <div [routerLink]="['day-list']" routerLinkActive="active-link" class="side-nav-item">
        <div class="icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
        <div>Day List</div>
    </div>

    <div *ngFor="let window of pWindows | async; let i = index;"
         [routerLink]="['/manager/playlist/' + lastCultDayName + '/' + window.id]"
         routerLinkActive="active-link" class="side-nav-item">
        <div class="icon open"><i class="fa fa-play" aria-hidden="true"></i></div>
        <div>Window: {{ i + 1 }}</div>
    </div>
</div>
