.side-bar {
    background: #343A3E;
    color: white;
    width: 100px;
    z-index: 2;
    height: 100%;

    .logo {
        width: 100%;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side-nav-item {
        width: 100%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &:hover {
            background: #6f7d81;
            color: #343A3E;
        }

        &.active-link {
            background: white;
            color: #343A3E;
        }

        .icon {
            margin-bottom: 0.5rem;
            font-size: 1.5rem;

            &.open {
                color: #b6ea97;
            }
        }
    }
}
