
.video-item {
    display: flex;
    flex-direction: row;

    .item-video-controls {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem;

        & > div {
            display: flex;
            flex-direction: row;
        }
    }
}
