.video-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
        color: #343a3e;
    }

    .item-video-controls {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        .time-controls {
            display: flex;
            flex-direction: row;
            align-items: center;

            .time-info {
                margin-left: 1rem;
            }
        }

        .sound-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .sound-slider {
                padding: 0;
            }
        }
    }
}
