<div class="video-item">
    <video (click)="playOrPause()" height="240" [src]="file.sanitizedPath" #videoPlayer></video>

    <div class="item-video-controls">
        <div class="time-controls">
            <button mat-button *ngIf="isPaused" (click)="sendVideoControls(VIDEO_COMMAND_TYPE.PLAY)">
                <i class="fa fa-play" aria-hidden="true"></i>
            </button>
            <button mat-button *ngIf="!isPaused" (click)="sendVideoControls(VIDEO_COMMAND_TYPE.PAUSE)">
                <i class="fa fa-pause" aria-hidden="true"></i>
            </button>
            <button (click)="sendVideoControls(VIDEO_COMMAND_TYPE.RESTART)" mat-button>
                <i class="fa fa-repeat" aria-hidden="true"></i>
            </button>
            <mat-slider
                [step]="1"
                (input)="videoSeekChange($event)"
                [thumb-label]="false"
                [value]="timeSeekBarValue">
            </mat-slider>
            <div class="time-info">{{ currentVideoTime | timeFormat }} / {{ currentVideoDuration | timeFormat }}</div>
        </div>
        <div class="sound-controls">
            <button *ngIf="!isMuted" (click)="sendVideoControls(VIDEO_COMMAND_TYPE.MUTE)" mat-button>
                <i class="fa fa-bell" aria-hidden="true"></i>
            </button>
            <button *ngIf="isMuted" (click)="sendVideoControls(VIDEO_COMMAND_TYPE.UNMUTE)" mat-button>
                <i class="fa fa-bell-slash" aria-hidden="true"></i>
            </button>
            <mat-slider
                class="sound-slider"
                [step]="0.1"
                (input)="volumeChange($event)"
                [min]="0"
                [max]="1"
                [thumb-label]="true"
                [value]="volumeSeekBarValue">
            </mat-slider>
        </div>


    </div>
</div>
