<div class="downloaded-videos-list">

    <div class="tags-container">
        <div class="tag-header">
            <div class="title">Folders</div>
            <button md-icon-button (click)="addTag()">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>

        <div *ngFor="let tag of tagList" class="tag-details" [class.selected]="selectedTag === tag">
            <div md-line (click)="selectTag(tag)">{{ tag.name }}</div>
            <button md-icon-button (click)="deleteTag(tag)">
                <i class="fa fa-close"></i>
            </button>
        </div>
    </div>

    <div class="videos-list">
        <div class="title">Videos</div>
        <div class="list">
            <div *ngFor="let video of downloadedVideos" class="video-item">
                <div md-line>{{ video.title }}</div>
                <button (click)="deleteVideo(video)">Delete</button>
            </div>
        </div>
    </div>

</div>
