

.downloaded-videos-list {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    font-weight: normal;
    //height: 100%;

    .title {
        margin-bottom: 1rem;
    }

    .tags-container {
        width: 10rem;
        margin-right: 1rem;

        .tag-header {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .tag-details {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &.selected {
                background: lightgray;
            }
        }
    }

    .videos-list {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;

        .list {
            display: flex;
            flex-direction: column;
            overflow: auto;

            .video-item {
                padding: 0.3rem 0;
                display: flex;
                flex-direction: row;

                &:first-child {
                    margin-right: 1rem;
                }
            }
        }
    }
}
