<app-monitor-displays [(displays)]="displays" [(isPreviewPossible)]="isPreviewPossible"></app-monitor-displays>

<div>
    <h1>{{title}}</h1>

    <button (click)="openChooseItemDialog()">Choose file</button>

    <div>
        <h1>Files</h1>
        <div *ngFor="let file of files" class="link">

            <div class="item">
                <div *ngIf="file.type === FILE_TYPE.VIDEO">
                    <video width="320" height="240" controls [src]="file.path"></video>
                </div>

                <div *ngIf="file.type === FILE_TYPE.DEFAULT">
                    <img [src]="file.thumbnailPath" width="50px" height="50px">
                </div>

                <div class="details">
                    <div>Name: {{file.getName()}}</div>
                    <div>Path: {{file.path}}</div>
                </div>
            </div>
            <button (click)="deleteFile(file.path)">DELETE</button>
            <button (click)="openFile(file.path)">Open Source</button>
            <button *ngIf="isPreviewPossible" (click)="openNewScreen(file)">Preview</button>
            <button *ngIf="isVideoPaused" (click)="sendVideoControls(VIDEO_COMMAND_TYPE.PLAY)">Play</button>
            <button *ngIf="!isVideoPaused" (click)="sendVideoControls(VIDEO_COMMAND_TYPE.PAUSE)">Pause</button>
            <button (click)="sendVideoControls(VIDEO_COMMAND_TYPE.RESTART)">Restart</button>
            <button *ngIf="isPreviewWindowOpened()" (click)="sendVideoControls(VIDEO_COMMAND_TYPE.CLOSE)">Close</button>
        </div>
    </div>
</div>
