<app-monitor-displays [(displays)]="displays" [(isPreviewPossible)]="isPreviewPossible"></app-monitor-displays>

<div>
    <h1>{{title}}</h1>

    <button (click)="openChooseItemDialog()">Choose file</button>

    <div>
        <h1>Files</h1>
        <div *ngFor="let file of files" class="link">

            <div class="item">
                <div *ngIf="file.type === FILE_TYPE.VIDEO">
                    <plurch-video-item [file]="file"></plurch-video-item>
                </div>

                <div *ngIf="file.type === FILE_TYPE.DEFAULT">
                    <img [src]="file.thumbnailPath" width="50px" height="50px">
                </div>

                <div class="details">
                    <div>Name: {{file.getName()}}</div>
                    <div>Path: {{file.path}}</div>
                </div>
            </div>

            <div class="item-default-controls">
                <button (click)="deleteFile(file.path)">DELETE</button>
                <button (click)="openFile(file.path)">Open Source</button>

                <button (click)="openNewScreen(file)">View in External Monitor</button>
                <!--<button *ngIf="isPreviewPossible" (click)="openNewScreen(file)">View in External Monitor</button>-->
                <button (click)="sendWindowCommands(file, WINDOW_COMMAND_TYPE.CLOSE)">Close</button>
            </div>

        </div>
    </div>
</div>
